@font-face {
  font-family: "iconfont"; /* Project id 3295384 */
  src: url('//at.alicdn.com/t/font_3295384_fxl5qaj8pqq.woff2?t=1654150599478') format('woff2'),
       url('//at.alicdn.com/t/font_3295384_fxl5qaj8pqq.woff?t=1654150599478') format('woff'),
       url('//at.alicdn.com/t/font_3295384_fxl5qaj8pqq.ttf?t=1654150599478') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e608";
}

.icon-yingyongzujian:before {
  content: "\e60b";
}

.icon-a-bianzu12:before {
  content: "\e600";
}

.icon-shangchuan:before {
  content: "\e60a";
}

.icon-shanchu:before {
  content: "\e609";
}

.icon-gongzuotai:before {
  content: "\e6ae";
}

.icon-password:before {
  content: "\e607";
}

.icon-usr:before {
  content: "\e606";
}

.icon-tongguo:before {
  content: "\e6ac";
}

.icon-weitongguo:before {
  content: "\e6ad";
}

.icon-a-xxguanli-icon1:before {
  content: "\e605";
}

.icon-yingyongguanli:before {
  content: "\e6ab";
}

.icon-a-APIguanli-icon:before {
  content: "\e6aa";
}

.icon-caret-down1:before {
  content: "\e604";
}

.icon-duihao:before {
  content: "\e61f";
}

.icon-qiyefuwu:before {
  content: "\e602";
}

.icon-yingyongxitong:before {
  content: "\e603";
}

.icon-APIzujian:before {
  content: "\e601";
}

.icon-baojing:before {
  content: "\e654";
}

.icon-bitian:before {
  content: "\e655";
}

.icon-a-caogaoxiang-icon:before {
  content: "\e656";
}

.icon-chuansuoanniu-weixuanzhong:before {
  content: "\e657";
}

.icon-chuansuoanniu-xuanzhong:before {
  content: "\e658";
}

.icon-daichuli:before {
  content: "\e659";
}

.icon-daijiaofu:before {
  content: "\e65a";
}

.icon-danxuan-weixuanzhong:before {
  content: "\e65b";
}

.icon-danxuan-xuanzhong:before {
  content: "\e65c";
}

.icon-daochu:before {
  content: "\e65d";
}

.icon-dingdan:before {
  content: "\e65e";
}

.icon-dingdanguanli-icon:before {
  content: "\e65f";
}

.icon-fabu:before {
  content: "\e660";
}

.icon-a-fankuidaiban-icon:before {
  content: "\e661";
}

.icon-fabuzhong:before {
  content: "\e662";
}

.icon-dingdanguanli:before {
  content: "\e663";
}

.icon-fanhui:before {
  content: "\e664";
}

.icon-fangwen:before {
  content: "\e665";
}

.icon-fanhuidingbu:before {
  content: "\e666";
}

.icon-a-fuwu-icon:before {
  content: "\e667";
}

.icon-fuwushijian:before {
  content: "\e668";
}

.icon-fuxuan-weixuanzhong:before {
  content: "\e669";
}

.icon-fuxuan-xuanzhong:before {
  content: "\e66a";
}

.icon-gouwuche:before {
  content: "\e66b";
}

.icon-gongsidizhi:before {
  content: "\e66c";
}

.icon-a-guanbi:before {
  content: "\e66d";
}

.icon-jishulianxiren:before {
  content: "\e66e";
}

.icon-huobaoremai:before {
  content: "\e66f";
}

.icon-jianceyujing:before {
  content: "\e670";
}

.icon-jiankong:before {
  content: "\e671";
}

.icon-lianxiwomen:before {
  content: "\e672";
}

.icon-liuchengjiantou:before {
  content: "\e673";
}

.icon-kongzhitai:before {
  content: "\e674";
}

.icon-liucheng-weichenggong:before {
  content: "\e675";
}

.icon-lunboanniu-right:before {
  content: "\e676";
}

.icon-lunboanniu-left:before {
  content: "\e677";
}

.icon-menhuyunying:before {
  content: "\e678";
}

.icon-peizhi:before {
  content: "\e679";
}

.icon-pingtaishenhe:before {
  content: "\e67a";
}

.icon-pingjia:before {
  content: "\e67b";
}

.icon-qiehuan:before {
  content: "\e67c";
}

.icon-shangpinguanli:before {
  content: "\e67d";
}

.icon-a-shangjia-icon:before {
  content: "\e67e";
}

.icon-shezhi:before {
  content: "\e67f";
}

.icon-shenpi:before {
  content: "\e680";
}

.icon-tishi:before {
  content: "\e681";
}

.icon-shangchuantupian:before {
  content: "\e682";
}

.icon-shoucang:before {
  content: "\e683";
}

.icon-shengxu:before {
  content: "\e684";
}

.icon-shangchuantubiao:before {
  content: "\e685";
}

.icon-shiyongzhinan:before {
  content: "\e686";
}

.icon-sousuo:before {
  content: "\e687";
}

.icon-xia:before {
  content: "\e688";
}

.icon-weizhifu:before {
  content: "\e689";
}

.icon-wenjian:before {
  content: "\e68a";
}

.icon-wenti:before {
  content: "\e68b";
}

.icon-tijiaoshangjiashenqing:before {
  content: "\e68c";
}

.icon-xiaoxi:before {
  content: "\e68d";
}

.icon-tianxieshangpinxinxi:before {
  content: "\e68e";
}

.icon-a-xinjiantianjia:before {
  content: "\e68f";
}

.icon-xuanzeshijian:before {
  content: "\e690";
}

.icon-yichuli:before {
  content: "\e691";
}

.icon-a-yichulichaxun-icon:before {
  content: "\e692";
}

.icon-xinpinshangjia:before {
  content: "\e693";
}

.icon-xinzengfankui:before {
  content: "\e694";
}

.icon-yijiaofu:before {
  content: "\e695";
}

.icon-yizhifu:before {
  content: "\e696";
}

.icon-yiguoqi:before {
  content: "\e697";
}

.icon-yiquxiao:before {
  content: "\e698";
}

.icon-yijianfankui:before {
  content: "\e699";
}

.icon-a-yingyong-icon:before {
  content: "\e69a";
}

.icon-xiangguantuijian:before {
  content: "\e69b";
}

.icon-yidu:before {
  content: "\e69c";
}

.icon-yizuofei:before {
  content: "\e69d";
}

.icon-youxiang:before {
  content: "\e69e";
}

.icon-ziyuankanban:before {
  content: "\e69f";
}

.icon-zhanghu:before {
  content: "\e6a0";
}

.icon-caret-down:before {
  content: "\e6a1";
}

.icon-zidingyi:before {
  content: "\e6a2";
}

.icon-check-circle:before {
  content: "\e6a3";
}

.icon-zonghepingjia:before {
  content: "\e6a4";
}

.icon-Group:before {
  content: "\e6a5";
}

.icon-Dot:before {
  content: "\e6a6";
}

.icon-upload:before {
  content: "\e6a7";
}

.icon-Close:before {
  content: "\e6a8";
}

.icon-a-xxguanli-icon:before {
  content: "\e6a9";
}
